:root {
    --color1: #2d3b91;
    --color2: #f9eee4;
}

@font-face {
    font-family: 'Dunbar Tall Book';
    src: url('/static/fonts/dunbar-tall-book.woff2') format('woff2'),
         url('/static/fonts/dunbar-tall-book.woff') format('woff'),
         url('/static/fonts/dunbar-tall-book.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Make the gallery container take up most of the screen */
.gallery-container {
    width: 90%; /* Adjust to take up most of the screen */
    height: 90vh; /* 90% of the viewport height */
    position: relative;    
    margin: auto; /* Center the gallery container */
    /* border: 2px solid #2d3b91; Light border around the gallery            */
    justify-content: center; /* Center the gallery horizontally */
}

/* Style the gallery itself */
.gallery {
    display: flex;        
    height: 100%;    
    position: center;
    align-items: center;
    justify-content: relative;
    top: 0;
    left: 0;
}

/* Style each image inside the gallery */
.gallery img {
    width: 95%; /* Image will take full width of the container */
    height: 95%; /* Image will take full height of the container */
    object-fit: fit; /* Ensure the image covers the entire area while maintaining its aspect ratio */
    margin: 0;
    opacity: 0; /* Initially hide all images */
    transition: opacity 0.5s ease-in-out; /* Fade transition */
    position: absolute; /* Position them on top of each other */
}

.gallery img.active {
    opacity: 1; /* Only the active image will be visible */
}


/* Add styling for navigation buttons */
button.prev-btn, button.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color1);
    color: var(--color1);
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

button.prev-btn {
    left: 10px;
}

button.next-btn {
    right: 10px;
}

/* Optional: Add hover effect on the buttons */
button.prev-btn:hover, button.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
