body, h1 {
    margin: 0;
    padding: 0;
    color: #CFA748;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    background-color: #2d3b91;
    color: #FEFEFE;
}

.hr {
    height: 7px;
    background-color: #FEFEFE;    
    max-width: 100%;
}

.email-link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CFA748;
    font-size: larger;
    
}

.logo {
    max-width: 90%;      
}

h1, h2 {
    color: #CFA748;
}

p {
    line-height: 1.5;
}

ul  {
    list-style-image: url('bullet.webp');
    margin: 0; 
    padding: 0;
    padding-left: 40px;
}
li {    
    margin-bottom: 10px; 
    padding-left: 10px; 
    background-repeat: no-repeat; 
    background-size: 10px; 
    background-position: left center; 
  }

.portfolio {
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 90%;   
}

.box h2 {
    text-align: center;
}

.form {
    max-width: 70%;
    margin: 0 auto; 
}

.form-control {
    width: 100%; 
}

footer {
    color: #CFA748;
}