<!-- templates/projects.html -->
{% extends "base.html" %}
<link href="{{ url_for('static', filename='css/gallery.css') }}?v={{ css_last_modified }}" rel="stylesheet">


{% block content %}
<main>
    <body>
        <div class="gallery-container">
            <div class="gallery">
                {% for image in images %}
                    <img src="{{ url_for('static', filename=image) }}" alt="Image {{ loop.index }}">
                {% endfor %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='gallery.js') }}"></script>
    </body>
</main>
{% endblock %} 