{% extends "base.html" %}

{% block css %} 
<link href="{{ url_for('static', filename='css/gallery.css') }}?v={{ css_last_modified }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>   
    <h3>
        <a href="https://www.instagram.com/ryderryderdotcom" target="_blank">
            <i class="fab fa-instagram" style="padding-left:2rem;"></i> @honeyryder
        </a>
    </h3>
   
    
    <div class="gallery-container">
        <div class="gallery">
            {% for image in images %}
                <img src="{{ url_for('static', filename=image) }}" alt="Image {{ loop.index }}">
            {% endfor %}
        </div>
    </div>
    <button class="prev-btn"></button>
    <button class="next-btn"></button>
    

</main>
<script src="{{ url_for('static', filename='gallery.js') }}"></script>





{% endblock %}
